<!doctype html>
<%
const asArray = (value) => _.isArray(value) ? value : [value];
const label = (resource) => resource.label ? resource.label : prefixedFromId(resource.id);
const filterByType = (resources, typeId) =>
    _.filter( resources,
              res => _.some(asArray(res.type),
                            type => type.id === typeId));
const htmlId = (resourceId) => resourceId.startsWith('#') ? resourceId.substr(1) : resourceId;

const urlFromId = (resourceId) => {
  const colonIndex = resourceId.indexOf(':');
  if (colonIndex === -1) {
    return resourceId;
  } else {
    const expandedPrefix = context[resourceId.substr(0, colonIndex)];
    if (expandedPrefix) {
      return expandedPrefix + resourceId.substr(colonIndex + 1);
    } else {
      return '#';
    }
  }
};

const prefixedFromId = (resourceId) => {
  const colonIndex = resourceId.indexOf(':');
  if (colonIndex !== -1) {
    return resourceId;
  } else {
    const fullIri = context['@base'] + resourceId; // very simplistic resolution
    if (fullIri.startsWith(aco.preferredNamespaceUri)) {
      const localPart = fullIri.substr(aco.preferredNamespaceUri.length);
      return aco.preferredNamespacePrefix + ':' + localPart;
    } else {
      return fullIri;
    }
  }
};

const localList = (listLabel, resources) => {
  if (resources) { %>
      <strong><%= listLabel %></strong>:
      <% _.forIn(asArray(resources), (res, index) => {
        %><%= index > 0 ? ", " : "" %><a href="<%= urlFromId(res.id) %>"><%= label(res) %></a><%
      }); %>.
  <% }
};

const showProperty = (propertyLabel, propertyValue) => {
  if (propertyValue) { %>
      <strong><%= propertyLabel %></strong>: <%= propertyValue %>
  <% }
};

const showCodeProperty = (propertyLabel, propertyValue) => {
  if (propertyValue) { %>
      <strong><%= propertyLabel %></strong>: <code><%= propertyValue %></code>
  <% }
};

%>
<html lang="en">
  <head>
    <title><%= aco.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script>
      var baseWebVOWL = 'http://visualdataweb.de/webvowl/#iri=';
      function openInWebVOWL() {
        window.open(baseWebVOWL + location.href.substr(0, location.href.lastIndexOf('/') + 1) + 'aco.ttl');
      }
    </script>
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><%= aco.title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="javascript:openInWebVOWL()">View in WebVOWL</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download...
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="aco.owl">...as XML/RDF</a>
                <a class="dropdown-item" href="aco.ttl">...as Turtle</a>
                <a class="dropdown-item" href="aco.jsonld">...as JSON-LD</a>
                <a class="dropdown-item" href="aco.nt">...as N-Triples</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col">

          <h1 id="top"><%= aco.title %></h1>
          <!-- <p class="lead"><%= aco.descr %></p> -->
          <!-- <h2>Description</h2> -->
          <p><%= aco.descr %></p>

          <p><% showCodeProperty('Namespace URI', aco.preferredNamespaceUri); %></p>
          <p><% showCodeProperty('Preferred Prefix', aco.preferredNamespacePrefix); %></p>

          <p>
            <% localList('Classes', filterByType(aco.defines, 'owl:Class')); %>
          </p>
          <p>
            <% localList('Object Properties', filterByType(aco.defines, 'owl:ObjectProperty')); %>
          </p>
          <p>
            <% localList('Datatype Properties', filterByType(aco.defines, 'owl:DatatypeProperty')); %>
          </p>

          <h2 id="classList">Classes</h2>
          <% _.forIn(filterByType(aco.defines, 'owl:Class'), (clazz) => { %>
            <div class="row"><div class="col-12">
              <!-- <div id="<%= htmlId(clazz.id) %>" class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= label(clazz) %></h3>
                  <code><%= prefixedFromId(clazz.id) %></code>
                </div>
                <div class="panel-body">
                  <% if (clazz.comment) { %>
                    <%= clazz.comment %>
                  <% } %>
                  <% localList("Super-Classes", clazz.subClassOf); %>
                  <% localList("Sub-Classes", clazz.superClassOf); %>
                  <% localList("Domain of", clazz.domainOf); %>
                  <% localList("Range of", clazz.rangeOf); %>
                </div>
              </div> -->

                <div id="<%= htmlId(clazz.id) %>" class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <span class="mr-2"><%= label(clazz) %></span>
                      <small class="text-muted"><code><%= prefixedFromId(clazz.id) %></code></small>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <% if (clazz.comment) { %>
                        <%= clazz.comment %>
                      <% } %>
                      <% localList("Super-Classes", clazz.subClassOf); %>
                      <% localList("Sub-Classes", clazz.superClassOf); %>
                      <% localList("Domain of", clazz.domainOf); %>
                      <% localList("Range of", clazz.rangeOf); %>
                    </p>
                  </div>
                </div>

            </div></div>
          <% }); %>

          <h2 id="objPropList">Object properties</h2>
          <% _.forIn(filterByType(aco.defines, 'owl:ObjectProperty'), (prop) => { %>
            <div id="<%= htmlId(prop.id) %>" class="card mb-3">
              <div class="card-header">
                <h5 class="mb-0">
                  <span class="mr-2"><%= label(prop) %></span>
                  <small class="text-muted"><code><%= prefixedFromId(prop.id) %></code></small>
                </h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  <% if (prop.comment) { %>
                    <%= prop.comment %>
                  <% } %>
                  <% localList("Super-Properties", prop.subPropertyOf); %>
                  <% localList("Sub-Properties", prop.superPropertyOf); %>
                  <% localList("Domain", prop.domain); %>
                  <% localList("Range", prop.range); %>
                </p>
              </div>
            </div>
          <% }); %>

          <h2 id="dtPropList">Datatype properties</h2>
          <% _.forIn(filterByType(aco.defines, 'owl:DatatypeProperty'), (prop) => { %>
            <div id="<%= htmlId(prop.id) %>" class="card mb-3">
              <div class="card-header">
                <h5 class="mb-0">
                  <span class="mr-2"><%= label(prop) %></span>
                  <small class="text-muted"><code><%= prefixedFromId(prop.id) %></code></small>
                </h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  <% if (prop.comment) { %>
                    <%= prop.comment %>
                  <% } %>
                  <% localList("Super-Properties", prop.subPropertyOf); %>
                  <% localList("Sub-Properties", prop.superPropertyOf); %>
                  <% localList("Domain", prop.domain); %>
                  <% localList("Range", prop.range); %>
                </p>
              </div>
            </div>
          <% }); %>

        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
